<!-- 글 목록 보여주는 main-->
doctype html
html 
    head 
        metc(charset='utf-8')
    body
        h1 
            a(href='/topic') Server Side JavaScript 
        ul 
            each topic in topics    
                li
                    a(href='/topic/' + topic)=topic
        article 
            h2= title
            =description
        div 
            a(href='/topic/new') new